.section-follow .fa-4x {
  margin: 5px 10px;
}

.slider .slides {
  background-color: black;
}

.slider .slides li img {
  opacity: 0.7;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label {
  color: #3f51b5 !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #000;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5 !important;
  -webkit-box-shadow: 0 1px 0 0 #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #3f51b5 !important;
}
